#title {
    font-size:xx-large;
    color: blueviolet;
    text-align: center;
}

body {
    background-color: aqua;
} 

#buttons {
    text-align: center;
    margin: 30px 20px 10px 20px;
}

#buttons button {
    color:  blue;
    margin-left: 10px;
    margin-right:10px;
    font-size: large;
}

#share {
    text-align: center;
   
}

#share-btn {
    color:blue;
    font-size: large;
    margin: 0px 20px 10px 20px;

}

#emoji-bar {
    text-align: center; 

}

p {
    font-size: 650%;
    text-align: center;  
    display:inline-block;
    /* margin:auto; */
    /* justify-content: space-evenly; */
}


#post-btn  {
    font-size: large;
    color:blue;
}

#fav-quote {
    font-size: large;
    color:blue;
}

div {
    text-align: left;
    font-size: large;
}




