p {
    font-size: 750%;
    text-align: center;  
    display:inline;
    justify-content: space-evenly
}

h1 {
    font-size: xx-large;
    color: blueviolet;
    text-align: center;
}

#shuffleButton {
    text-align: center;
    color:blueviolet;
}

body {
    background-color: aqua;
}